* {
    margin: 0;
    outline: none;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

.mycalculator {
    background-color: gray;
    margin: 0 auto;
    padding: 10px;
    width: 190px;
    border-radius: 6px;
}

#calculator div {
    display: flex;
    justify-content: space-evenly;
}

#calculator div input {
    padding: 5px;
    margin-top: 5px;
    min-width: 35px;
}

