* {
    margin: 0;
    outline: none;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: orange;
}

.mycalculator {
    background-color: darkslategrey;
    margin: 100px auto;
    padding: 20px 10px;
    width: 190px;
    border-radius: 6px;
}

#calculator div {
    display: flex;
    justify-content: space-evenly;
}

#calculator div input {
    padding: 5px;
    margin-top: 5px;
    min-width: 35px;
    border-radius: 6px;
    box-shadow: 1px 1px 2px darkolivegreen;
}

#calculator div input:hover {
    background-color: forestgreen;
}

#display {
    border-radius: 6px;
    margin-bottom: 6px;
    height: 25px;
} 